.home_games, .filter_games, .filter_button, .filter_button_active
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.filter_games {
    justify-content: space-evenly;
    width: 80%;
    flex: 1; 
    margin: 3% 0;
}

.filter_button, .filter_button_active
{
    border-radius: 10px;
    background: #161b22;
    font: bold;
    font-size:large;
    height: 30px;
}

.filter_button:hover {
    color: black;
    background-color: gray;
}

.filter_button_active {
    color: black;
    background-color: white;
}

.game_list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 285px));
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}