.header {
    display: flex;
    justify-content: space-between;
}

.header_seach_area {
    background: #42414d;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex: 1;
    margin: 10px;
}

.header_seach_area > input {
    background: transparent;
    color: white;
    border: 0;
    display: flex;
    flex: 1;
    margin-left: 10px;
    font-size: large;
}

.header_profile_area {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.header_profile_area  h4 {
    margin-left: 10px;
}

.header_logo_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.header_logo_area > img {
    height: 60px;
}

@media (max-width : 500px) {
    .header_seach_area {
        width: 1%;
    }

    .header_seach_area > input{
        width: 1%;
    }

    .header_logo_area {
        justify-content: flex-start;
    }

    .header_profile_area > h4 {
        display: none;
    }

    .header_profile_area {
        justify-content: flex-end;
    }
}