.Card_structure, .game_card_info, .game_card_logo,
.game_Card_play_button, .game_Card_structure
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.closs_button {
    background: none;
    color: red;
    border: none;
    font-size: xx-large;
}

.popup_title_contaner {
    display: flex;
    justify-content: space-between;
}

.game_Card_structure {
    background: #161b22;
    height: 20pc;
    border-radius: 15px;
    margin-bottom: 10px;
}

.game_Card_structure:hover{
    background: black;
}

.game_Card_structure:hover .game_card_title{
    background: linear-gradient(135deg, rebeccapurple, tomato,  yellow);
    background-clip: text;
    color: transparent;
}

.game_Card_structure:hover a{
    box-shadow: 0px 2px 15px 1px white ;
}

.game_card_logo {
    align-items: flex-start;
    flex: 3;
    width: 85%;
}

.game_card_info {
    flex: 6;
    width: 100%;
}

.game_card_info a {
    display: flex;
    justify-content: center;
    width: 80%;
    border-radius: 10px;
    padding: 2%;
    margin: 4%;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    cursor:default;
    background: white;
    color: black;
}

.game_card_title {
    flex: 2;
    width: 85%;
    display: flex;
    align-items: flex-end;
    font-size:xx-large;
    font-weight: bold;
}

.game_card_description {
    color: gray;
    flex: 2;
    width: 85%;
    padding: 1%;
    display: flex;
    align-items: center;
    font-size: small;
}