.wellcome_poster {
    display: flex;
    justify-content: space-between;
    padding: 1% 10%;
    font-size: xx-large;
}

.wellcome_poster > h1{
    background: linear-gradient(135deg, #00fa7d, white);
    background-clip: text;
    color: transparent;
    display: flex;
    align-items: center;
    flex: 1;
}

.wellcome_poster > img{
    display: flex;
    flex: 1;
}

@media (max-width : 500px) {
    .wellcome_poster {
        flex-direction: column;
    }

    .wellcome_poster > h1{
        font-size: xx-large;
    }
}